@import 'reset.css';

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 本站导航 */
#siteNav li{
	float: left;
	line-height: 35px;
	padding: 0 6px;
	font-size: 0;
}
#siteNav a{
	color: #6c6c6c;
	font-size: 12px;
}
#siteNav a:hover{
	color: #f40;
}
#siteNav a.login{
	color: #f22e00;
}
#siteNav span{
	font-size: 12px;
}
#siteNav span.arrow{
	margin-left: 7px;;
}
#siteNav li strong{
	font-size: 12px;
	color: #f22e00;
}
#siteNav li span.store{
	color: #9c9c9c;
}
#siteNav li.line{
	font-size: 12px;
	color: #ddd;
	padding: 0 5px;
}

/* 广告 */
#ad {
    background-color: #f12f04;
}

#ad{
	background-color: #f12f04;
}
#ad .go{
	display: block;
	padding: 10px 10px 10px 15px;
}
#ad .go img{
	width: 80px;
	height: 80px;
}
#ad ul{
	padding-top: 13px;
}
#ad li{
	float: left;
	width: 209px;
	height: 75px;
	margin-right: 10px;

	padding: 12px 15px 0 15px;
	box-sizing: border-box;

	/* 
		盒模型
			1、标准盒模型
				总宽度=border(左右)+width+padding(左右)
				总高度=border(上下)+height+padding(上下)
			2、IE盒模型(怪异盒模型)
				总宽度=width;
				总高度=height;
	 */
}
#ad li h3{
	font-size: 20px;
	line-height: 28px;
}
#ad li p{
	font-size: 14px;
	line-height: 20px;
}
#ad li a{
	color: #fff;
	display: block;
}
#ad li a img{
	width: 52px;
	height: 52px;
	border-radius: 5px;
}

#ad li.item1{
	background: url(../images/adbg_01.png) no-repeat;
}
#ad li.item2{
	background: url(../images/adbg_02.png) no-repeat;
}
#ad li.item3{
	background: url(../images/adbg_03.png) no-repeat;
}
#ad li.item4{
	background: url(../images/adbg_04.png) no-repeat;
}
#ad li.item5{
	background: url(../images/adbg_05.png) no-repeat;
	margin-right: 0;
}
